<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8"/>
  <title>Select your identity</title>
  <link rel="stylesheet" type="text/css" href="css/auth-choose.css"/>
 </head>
 <body>
  <h1>Select your identity</h1>
  <p>
   You may log in to {{client_id}} with any identity you like.
  </p>

  <form method="post" action="{{formaction}}">
   {% for key, value in auth %}
   <input type="hidden" name="auth[{{key}}]" value="{{value}}"/>
   {% endfor %}

   <label class="mode">
    <input type="radio" name="id[mode]" value="anonymous"
           {%if id.mode=="anonymous"%}checked="checked"{%endif%}/>
    Anonymous
   </label>

   <label class="mode">
    <input type="radio" name="id[mode]" value="data"
           {%if id.mode=="data"%}checked="checked"{%endif%}/>
    With a name
   </label>
   <div class="data-mode">
    <div>
     <label for="id-name">Name:</label>
     <input type="text" name="id[name]" id="id-name" value="{{id.name}}"/>
    </div>
    <div>
     <label for="id-imageurl">Avatar image URL:</label>
     <input type="url" name="id[imageurl]" id="id-imageurl"
            value="{{id.imageurl}}"/>
    </div>
    <div>
     .. or use this email's avatar image:
    </div>
    <div>
     <label for="id-email">E-Mail:</label>
     <input type="email" name="id[email]" id="id-email"/>
    </div>
   </div>
   <button type="submit">Login</button>
   <p class="note">
    The e-mail address will not be stored.
   </p>
  </form>
 </body>
</html>
