<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8"/>
  <title>Select your identity</title>
 </head>
 <body>
  <h1>Select your identity</h1>
  <p>
   You may log in to {{client_id}} with any identity you like.
  </p>

  <form method="post" action="{{formaction}}">
   {% for key, value in auth %}
   <input type="hidden" name="auth[{{key}}]" value="{{value}}"/>
   {% endfor %}

   <ul>
    <li>
     <label>
      <input type="radio" name="id[mode]" value="anonymous"
             {%if id.mode=="anonymous"%}checked="checked"{%endif%}/>
      Anonymous
     </label>
    </li>
    <li>
     <label>
      <input type="radio" name="id[mode]" value="data"
             {%if id.mode=="data"%}checked="checked"{%endif%}/>
      With a name
     </label>
     <ul>
      <li>
       <label for="id-name">Name:</label>
       <input type="text" name="id[name]" id="id-name" value="{{id.name}}"/>
      </li>
      <li>
       {% if id.imageurl %}
       <img src="{{id.imageurl}}" width="32" height="32" alt="Avatar image"/>
       {% endif %}
       <label for="id-imageurl">Avatar image URL:</label>
       <input type="url" name="id[imageurl]" id="id-imageurl"
              value="{{id.imageurl}}" size="60"/>
       <br/>
       alternatively, provide an email so we can autodetect its avatar:
       <input type="email" name="id[email]" id="id-email"/>
       (will not be stored.)
      </li>      
     </ul>
     <p>
      All values are optional.
     </p>
    </li>
   </ul>
   <button type="submit">Login</button>
  </form>
 </body>
</html>
