<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8"/>
  <title>Profile of {{name}}</title>
  <link rel="authorization_endpoint" href="{{baseurl}}auth.php"/>
  <link rel="token_endpoint" href="{{baseurl}}token.php"/>
  <link rel="micropub" href="{{baseurl}}micropub.php"/>
  <link rel="stylesheet" type="text/css" href="/css/user.css"/>
 </head>
 <body class="h-card">
  <h1 class="p-name">{{name}}</h1>
  <div id="img">
   <img class="u-photo" src="{{imageurl}}" alt="" height="100" width="100"/>
  </div>
 </body>
</html>
